<h1>Bienvenidos</h1>

<div row class="container">
  <div class="jumbotron col-sm-6">
    <h1>Mascotas</h1>
    <p>Registra tus mascotas</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearMascota" role="button">Registrar Mascotas</a> <a
        class="btn btn-primary btn-lg" href="/listarMascotas" role="button">Listar Mascotas</a></p>
  </div>

  <div class="jumbotron col-sm-6">
    <h1>Raza</h1>
    <p>Registra una raza</p>
    <p><a class="btn btn-primary btn-lg" href="/CrearRaza" role="button">Registrar Raza</a> <a
        class="btn btn-primary btn-lg" href="/listarRazas" role="button">Listar Raza</a></p>
  </div>
  <div class="col-sm-1"> </div>


</div>
