
<!-- Default home page -->
<style>
    .rojo{
        background-color:red;
    }
    

</style>

<h1>Aqui empieza el homepage</h1>
<p class="rojo">ya no somos tan noobs con sails js</p>
<h1>aqui finaliza</h1>
